/* input#submit {
    color:black;
} */

html {
    height: 100%;
    overflow: hidden;
}
body {
    display: flex;
    font-style: oblique;
    font-size: 1.4em;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#container {
    min-width: 20em;
    min-height: 430px;
    padding: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: black solid 3px;
    border-bottom: black solid 3px;
    border-radius: 10px;
}

#switcher{
    display: flex;
    align-content: space-between;
    flex-grow: 1;
}

#switcher div {
    cursor: pointer;
    display: table;
    width: auto;
    font-style: oblique;
    font-size: 1em;
    margin: 1em;
    padding: 1em;
    border: 0;
    transition: 0.2s linear;
    background-color: #E8E8E8;
}

#switcher div:hover {
    background-color: #F5F5F5;
}

#switcher div.active {
    background-color: #F5F5F5;
    cursor: default;
}
#switcher div.active:hover {
    cursor: default;
}

#form-container{
    flex-grow: 3;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: auto;
}

#alert{
    min-height: 15px;
    max-height: 15px;
    padding:0;
}

form {
    display: flex;
    width: auto;
    height: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: auto;
    transition: 0.5s linear;
}

/* form.active {
    display: flex;
} */

input.invalid {
    border: red solid 1px;
    padding: 0px 1px 0px 1px;
}

input {
    min-width: 20em;
    margin: 0.5em;
    min-height: 1.8em;
    background-color: #E8E8E8;
    transition: 0.2s linear;
    border: 0px;
    outline: none;
}

input#submit {
    margin-top: 1.5em;
}

input::placeholder {
    text-align: center;
}

input:hover, input:focus{
    background-color: #F5F5F5;
}

.alert {
    color:red;
    transition: 0.2s linear;
}

